---
layout: default
description: "Categories for {{ site.title }}"
permalink: "/category"
---
<h1>{{ site.title }} - Categories</h1>
<div class="row listrecent">
{% assign sortedCategories = site.categories | sort %}
{% for category in sortedCategories %}

<div class="section-title col-md-12 mt-4">
<h2 id="{{ category[0] | replace: " ","-" }}">Category <span class="text-capitalize"><a href="{{site.baseurl}}/category/{{ category[0] | url_escape | strip | slugify }}/">{{ category[0] }}</a></span></h2>
</div>
{% assign pages_list = category[1] %}
{% for post in pages_list %}
{% if post.title != null %}
{% if group == null or group == post.group %}
{% include postbox.html %}
{% endif %}
{% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
{% endfor %}
</div>